[settings]
indent='    '
length_sort=0
import_heading_stdlib=Core Library modules
import_heading_thirdparty=Third party modules
import_heading_firstparty=First party modules
import_heading_localfolder=Local modules
known_third_party = AAComposition,AAIndex,AtomProperty,AtomTypes,Autocorrelation,CTD,ConjointTriad,GetSubSeq,PseudoAAC,PubChemFingerprints,PyDNA,PyDNAac,PyDNAnac,PyDNAnacutil,PyDNApsenac,PyDNApsenacutil,PyDNAutil,PyMolecule,PyPretreatMolutil,PyProtein,QuasiSequenceOrder,estate,ghosecrippen,numpy,pybel,rdkit,recommonmark,scipy,setuptools,test_PyDNA,test_PyGetMol,test_PyInteration,test_PyMolecule,test_PyPretreat,test_PyProtein

multi_line_output=3
include_trailing_comma=True
force_grid_wrap=0
use_parentheses=True
line_length=88
